<h1>Welcome, {{ user_data["first_name"] }} {{ user_data["last_name"] }}!</h1>

<p>It would appear that you do not have a shop associated with this Etsy account. Presently, Order-tron is meant only for sellers who want more advanced ways of managing their shop. As such, there isn't really anything you can do with Order-tron at the moment (sorry). If you do create a shop, you'll be able to see Order-tron's order manager and other fun tools.</p>

<p>If you would like to log out for now, you may click here: <a href="{{ url_for('authenticated.log_out') }}">log out</a>.</p>